## 📌 Required environment variables
JWT_SECRET=xxxxx
ADMIN_PASSWORD=xxxxx
ADMIN_SESSION_SECRET=xxxxx

## 💡 Optional environment variables
# 🔘 one of: development, production, test
NODE_ENV=xxxxx
PORT=xxxxx
DB_PATH=xxxxx
CORS_ORIGINS=xxxxx
ADMIN_USER=xxxxx
AUTH_API_URL=xxxxx
